* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #181818;
}

.calculator {
    width: 320px;
    background: #222;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px #000;
}

#display {
    width: 100%;
    height: 60px;
    border: none;
    font-size: 2rem;
    text-align: right;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    background: #333;
    color: #fff;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 18px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    background: #444;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #555;
}

.operator {
    background: #ff9800;
}

.operator:hover {
    background: #e58900;
}

.equal {
    background: #00c853;
}

.equal:hover {
    background: #00b44a;
}

.zero {
    grid-column: span 2;
}